Source: gasket-dkms
Maintainer: Coral <coral-support@google.com>
Build-Depends: debhelper (>= 9), dkms
Homepage: https://coral.withgoogle.com/

Package: gasket-dkms
Architecture: all
Priority: optional
Section: kernel
Depends: dkms (>= 1.95), linux-headers-686-pae | linux-headers-amd64 | linux-headers-generic | linux-headers, ${misc:Depends}
Description: DKMS source for the gasket driver
 Gasket (Google ASIC Software, Kernel Extensions, and Tools) provides 
 support for Google ASICs, specificially the Coral EdgeTPU.
